*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body{
    background-color: #0f0f0f;
}
.form{
    display: flex;
    height:95vh;
    width: 40vw;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}
.inner2{
    padding:50px 0px;
}
.sign{
    background-color:#2e2e2e;
    display: block;
    padding: 5px;
    font-size: 1.4em;
    color: white;
    text-decoration: none;
    z-index: 4;
}
.error-msg{
    font-size:0.7rem;
}
.inner{
    display: flex;
    width: 50%;
    flex-flow:column wrap;
    justify-content: center;
    align-items: center;
}
.heading{
    font-size:2.5rem;
    width: 40vw;
    text-align: center; 
}
.inner> input{
    margin: 5px 0px;
    padding: 20px 20px;
    border-radius: 20px;
    width: 70%;
}
.inner >input[type=submit]{
    width: 80%;
    cursor: pointer;
}
.img{
    filter:brightness(0.7);
    height:100vh;
    width: 60vw;
    position: absolute;
    top: 0px;
    right: 0px;
}
.img>img{
    height: 100%;
    width: 100%;
    object-fit:cover;
}
@media only screen and (max-width:1000px){
    .img{
        width: 100%;
        opacity: 0.4;
        z-index: -1;
        filter: blur(5px) brightness(0.3);
    }
    .inner> input{
        margin: 5px 0px;
        padding: 20px 20px;
        border-radius: 20px;
        width:70%;
    }
    .inner{
        width: 80%;
    }
    .heading{
        width: 100%;
    }
    .form{
        width: 100%;
    }
}
.editor{
    height:100vh;
    width:85vw;
    background-color: #0f0f0f;
}
.sidebar{
    height:100vh;
    width:15vw;
    position: absolute;
    top: 0;
    right:0;
    background-color: #2f2f2f;
    float: right;
    
}
.buttons{
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
    flex-flow: row wrap;
    row-gap: 0px;
    column-gap: 15px;
    height: 30%;
    width: 100%;
}
.buttons > button{
    width: 45%; 
    height: 60px; 
    box-sizing: border-box; 
    border-radius: 10px;
    cursor: pointer;
}
.exp{
    position: absolute;
    bottom:0px;
    width: 100%;
}
.exp > button{
    width: 50%; 
    height: 50px; 
    border-radius: 10px;
    cursor: pointer;
}
.history{
    height: 55%;
    width: 100%;
    position: absolute;
    bottom: 5%;
    right: 0;
    background-color: rgb(9, 9, 9);
    overflow-y: auto;
}

.upload{
    float: right;
    margin: 20px 20px;
}

.upload > input[type=file]{
    border-radius: 20px;
    background-color: red;
    
}   

.upload{
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}